@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

@font-face{ 
    font-family: TitilliumWeb-Regular;
    src:url(./tipografias/TitilliumWeb-Regular.ttf);
   }

   
   .form-cotizacion{
   padding:100px;
      background-color:#0C4B47;
      border:black;       

}
.titulo{
    color:white;
    text-align: center;
    font-size: 40px;
    font-family:TitilliumWeb-Regular;
    
}
.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

/*Caracterísitcas del label */
.md-form label {
  color: #fff; 
  
}
.form-white input[type=text]:focus:not([readonly]) {
    border-bottom: 2px solid #fff;
    -webkit-box-shadow: 0 1px 0 0 #fff;
    box-shadow: 0 1px 0 0 #fff; 
    width: 800px;
    
}

.form-white input[type=text]:focus:not([readonly]) + label {
    color: transparent; 
    border-color:white;
    
}
.form-control input:focus{
    border-color: orange;
}

/*Caracterísitcas del color del texto input cuando hay selección */
.form-white .form-control:focus {
    color: green;
    font-size: 18px;
}

/*Caracterísitcas del texto después de la selección */
.md-form input{
    color: white;
    font-size:18px;
    
}

.form-white textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #fff;
    background-color: white;
    
}
/*Caracterísitcas del borde del text area*/
.form-white textarea.md-textarea  {
    border-bottom: 1px solid #fff;
    color: #fff;
}


/*Caracterísitcas del color del input*/
.md-form input::placeholder{
    color: white;
}
/*Caracterísitcas del color input del text area */
.md-textarea::placeholder{
    color:white;
}
/*Caracterísitcas del label */
.md-textarea::placeholder:focus{
    color:white;
}
.md-form textarea{
    color: white;
    font-size:18px;
}
/*Caracterísitcas del color del texto textarea cuando hay selección */

.form-white  .md-textarea:focus {
    color: green;
    font-size: 18px;
}

.text-contacto{
    text-align: center;
}

.contacto{
  font-family:TitilliumWeb-Regular;

    text-align: center;
    background-color: rgba(131, 241, 241,0.5);
}

hr{
    size:2px;
    width: 100%;
    align-items: center;
    color: black;
}
.texto{
    text-align: center;
    
}

i{
  font-family:TitilliumWeb-Regular;

}
.icono{
    font-family:TitilliumWeb-Regular;
    font-size: xx-large;
    color: rgb(43, 41, 41);
}
.icono2{
    font-family:TitilliumWeb-Regular;
    font-size: xx-large;
    color: rgb(43, 41, 41);
} 
.icono3{
    font-family:TitilliumWeb-Regular;
    font-size: xx-large;
 color: rgb(43, 41, 41);
} 

.icono:hover{
    color: rgb(59, 89, 152);
    transition: .5s;
}
.icono2:hover{
    color: rgb(0, 187, 45);
    transition: .5s;
}

.icono3:hover{
    color: rgb(233, 8, 8);
    transition: .5s;
}

.contacto-mapa{
    text-align: center;
    align-items:stretch;
    
}

@media only screen and  (max-width: 800px) {
    aside{
        width:470px; 
        
    }
iframe{
        width:480px; 
        height:200px;
        margin: auto;
    }
}

@media only screen and (min-width:801px) and (max-width: 1025px) {
    aside{
        width:600px;
        margin: auto;
    }
            
        
    iframe{
            width:600px; 
            height:300px;
    
            align-items: center;
            margin-right:350px ;            
            
            
        }}
